<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
  
  
  <listeners>
  
  <listener class-name="Academy.TestComponents.Listeners"></listener>
  
  </listeners>
  
  
  <test thread-count="5"  name="SubmitOrder Test">
      
    
    <classes>
      <class name="Academy.tests.StandAloneTest">
      
      
     </class>
     
    </classes>
  </test> <!-- Test -->

  <test thread-count="5" name="Error Validations Test">
    
    
    <classes>
            
    <class name="Academy.tests.ErrorValidationsTest"/>
    
    </classes>
  </test> <!-- Test -->
    
  

  <test thread-count="5" name="Excel driven">
    
    
    <classes>
            
    <class name="Academy.tests.ExcelDataProvider"/>
    
    </classes>
  </test> <!-- Test -->
    
  
</suite> <!-- Suite -->
